<!-- tutorial_detail.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Tutorial Details{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-md-8 ">
            <div class="embed-responsive embed-responsive-16by9 position-relative mb-3">
                <!-- Overlay link -->
                <a href="{{ tutorial.video_url }}" target="_blank" class="video-overlay-link"></a> 
                <!-- This div will be used by the YouTube Embedded Player API -->
                <div id="player"></div>
            </div>
            <!-- Watch button -->
            <a href="{{ tutorial.video_url }}" target="_blank" class="btn btn-primary w-75 mt-3" style="color: white; text-decoration: none;" download="{{ tutorial.title }}">
                <i class="fas fa-play-circle"></i> Watch
            </a>
            <div class="mt-5">
                <!-- Course Title -->
                <h2 class="mb-4">{{ tutorial.title }}</h2>
                <!-- Course Description -->
                <p class="mb-4">{{ tutorial.description }}</p>
                <!-- Course Instructor -->
                <p class="mb-2"><strong>Instructor:</strong> John Doe</p>
                <!-- Course Duration -->
                <p class="mb-2"><strong>Duration:</strong> 4 weeks</p>
            </div>
        </div>
        
        
        <div class="col-md-4 mt-5">
            <!-- Introduction -->
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">{{ tutorial.title }}</h5>
                    <p class="card-text">{{ tutorial.description }}</p>
                </div>
            </div>
        
            <!-- Up Next Tutorials -->
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Up Next Tutorials</h5>
                    <ul class="list-group list-group-flush">
                        {% for next_tutorial in up_next_tutorials %}
                            <li class="list-group-item list-group-item-action list-group-item-light mb-3 rounded shadow p-3 bg-light text-black">
                                <a href="{% url 'tutorial_detail' tutorial_id=next_tutorial.id %}" class="text-decoration-none text-primary">{{ next_tutorial.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Load the YouTube Embedded Player API asynchronously
    function onYouTubeIframeAPIReady() {
        new YT.Player('player', {
            height: '360',
            width: '640',
            videoId: '{{ tutorial.video_id }}', // Replace 'video_id' with the ID of your YouTube video
        });
    }
</script>

<script src="https://www.youtube.com/iframe_api"></script>

{% endblock %}
